.about-container .left-about p{
    padding-left: 0;
}

@media screen and (max-width: 600px) {
    header{
        padding: 0 !important;
    }
   


    .about-stats{
        .progress-bars{
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .portfolios{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 6rem;
    }

  



    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
            .bg-text{
                font-size: 2.3rem;
            }
        }
    }
}

@media screen and (max-width:1432px){
   

   

    .main-title{
        h2{
            .bg-text{
                font-size: 5.5rem;
            }
        }
    }
    
}




@media screen and (max-width:1250px){

    .portfolios{
        grid-template-columns: repeat(2, 1fr);
    }
    .header-content .right-header{
        padding-right: 9rem;
    }

}
@media screen and (max-width:660px){
 
    .portfolios{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:1070px){
 
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }
}

@media screen and (max-width:700px){
  
    .main-title{
        h2{
            font-size: 3rem;
            span{
                font-size: 3rem;
            }
            .bg-text{
                font-size: 4rem;
            }
        }
    }
}